@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', sans-serif;
}

.head{
    padding:20px;
    background: #CF2B2B;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0.3px 0.3px 4px black;
    position: fixed;
    width: 100%;
    top: 0;
}
.first-order{
    margin-top: 100px;
    padding: 10px;
}
.first-order h1{
    font-size: 23px;
}
.sec-order{
    padding: 10px;
}
.sec-order h1{
    font-size: 23px;
}
.third-order{
    padding: 10px;
}

.third-order h1{
    font-size: 23px;
}


.order-body{
    display: flex;
    overflow-x: scroll;
}
.order-card{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.order-card img{
    min-width: 150px;
}