@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', sans-serif;
}

.head{
    padding:20px;
    background: #CF2B2B;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0.3px 0.3px 4px black;
    position: fixed;
    width: 100%;
    top: 0;
}
.body{
    background: #e8edea;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    padding: 10px;
}
.footer button{
    background: #e8edea;
    padding: 5px;
}
.first-order{
    margin-top: 90px;
    padding: 10px;
}
.first-order h1{
    font-size: 23px;
    margin-bottom: 10px;
}
.sec-order{
    padding: 10px;
}
.sec-order h1{
    font-size: 23px;
    margin-bottom: 10px;
}
.third-order{
    padding: 10px;
}

.third-order h1{
    font-size: 23px;
    margin-bottom: 10px;
}


.order-body{
    display: flex;
    overflow-x: scroll;
}
.order-card{
    width: 200px;
    height: 200px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}
.order-card img{
    min-width: 150px;
    border-radius: 10px;
}
.order-card h3{
    font-size: 13px;
}
.order-card p{
    font-size: 10px;
    margin-block: 5px;
}